* { touch-action: pan-y; }
ul,li{list-style: none;padding: 0;margin:0;}
/*----------------mui.showLoading---------------*/
.mui-show-loading {
    position: fixed;
    padding: 5px;
    width: 120px;
    min-height: 120px;
    top: 45%;
    left: 50%;
    margin-left: -60px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
    visibility: hidden;
    margin: 0;
    z-index: 2000;

    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    opacity: 0;
    -webkit-transform: scale(0.9) translate(-50%, -50%);
    transform: scale(0.9) translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.mui-show-loading.loading-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%);
}
.mui-show-loading .mui-spinner{
    margin-top: 24px;
    width: 36px;
    height: 36px;
}
.mui-show-loading .text {
    line-height: 1.6;
    font-family: -apple-system-font,"Helvetica Neue",sans-serif;
    font-size: 14px;
    margin: 10px 0 0;
    color: #fff;
}

.mui-show-loading-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.mui-show-loading-mask-hidden{
    display: none !important;
}
.content{
    padding-bottom:55px;
}
.mui-btn-block{
    padding:10px 0;
}
.mui-bar{
    box-shadow:none;
    border-top:1px solid #e5e5e5;
}
.mui-bar-tab .mui-tab-item{
    border-right:1px solid #e5e5e5;
}
.mui-bar-tab .mui-tab-item:last-child{
    border-right:none;
}
textarea{font-size:14px;}
.mui-content {
    background-color: #fff;
    padding-top:5px;
    margin-bottom: 10px;
}
.mui-content .mui-border{
    border-top:1px solid #f7f7f7;
    border-bottom:1px solid #f5f5f5;
}
.mui-content-padded p{
    color:#000;
}
.mui-content textarea,.mui-content button{
    border:none;
}
.mui-bar-tab .mui-btnColor{
    color:#a9a9a9;
}
.mui-bar-tab .edit{
    color:#1A9A90;
}
/*.mui-bar-tab .mui-tab-item.mui-active{
    color:#1A9A90;
}*/
time{
    font-size:13px;
    color:#999;
}
.mui-info{
    padding-right:0;
}
.mui-info p{
    font-size:16px;
    color:#333;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mui-info .mui-sminfo{
    font-size:13px;
    color:#999;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mui-input-row .mui-label{
    width:20%;
    text-align: right;
    color:#1A9A90;
}
.mui-input-row .mui-input{
    float: left;
    width:50%;
    border:1px solid #1A9A90;
    padding:0 5%;
}
.mui-sure{
    color:#1A9A90;
    border:1px solid #1A9A90;
    width:20%!important;
    margin-right:5%;
}
.mui-bottom-fixed{
    position:fixed;
    bottom:0;
    width:100%;
    height:55px;
    padding-top:8px;
    background: #fff;
}
.monthLists{
    padding-bottom:55px;
}